all.log
config.ini
.ipynb_checkpoints/*
*.ipynb_checkpoints
./data/*
./local_data/*
./lightfmdev/data/*
./statistic_baseline/dev/data/*
*/__pycache__/
__pycache__/
*.h5
*.csv 
*.feather
*.json
*.pyc
*.npy
*.swp
*.yaml
*.0
*/tb_logs/
*.ckpt
*.DS_Store
